/* Set a background image by replacing the URL below */
body {
    background: url('../fondo.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  